.herosection {
  width: 60%;
  display: flex;
  flex-direction: column;
  padding-top: 5em;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

.hero {
  background-image: url("../../assets/profileimg.jpg");
  width: 250px;
  height: 230px;
  object-fit: cover;
  border-radius: 50%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.herosection h1 {
  margin-top: 2em;
  font-size: 1.5em;
}
