.Skills {
  max-width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1.5em auto;
}

.stacks {
  display: flex;
  flex-wrap: wrap;
  gap: 2%;
  margin: 1em auto;
  align-items: center;
  justify-content: center;
}
.stackItem {
  border: 1px solid rgba(207, 204, 225, 0.852);
  padding: .5em 2em;
  border-radius: 50px;
  text-align: center;
  margin-top: 20px;
}
.stackItem:hover {
  background-color: var(--primary-color);
  color: black;
}
