.aboutSections{
    width: 80%;
    margin: 0 auto;
}
.paragraphs{
    display: flex;
    /* gap: 0.3em; */
    flex-direction: column;
}
.paragraphs p{
    /* border: 1px solid rgb(203, 197, 197); */
    margin: 15px;
}
@media screen and (min-width: 720px) {
  .paragraphs{
    gap: 0.3em;
    flex-direction: row;
}
.paragraphs p:last-child{
    border-left: 1px solid rgb(203, 197, 197);
    margin-left: -5px;
    padding-left: 10px;
}
}